body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    cursor: url("./lorx.png"), auto;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
}

img:hover {
    cursor: url("./dorite-small.png"), auto;
}

.secret-dorite {
    cursor: url("./dorite-sr.png"), auto;
}

header p {
    font-size: 3rem;
    margin: 0;
    
}

#navBtns {
    /* padding: 0 10px; */
    display: flex;
    flex-direction: row;
    height: 20px;
    margin: auto 0;
}

#navBtns img {
    padding: 0 10px;
}

.menu-ico {
    height: 40px;
    align-self: center;
}

#meat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

#meat img {
    margin: auto;
    padding: 15px;
}